extends layout

block content
    h2 #{name}
    h3 Check Reservation
    a(href='/main') Main

    table.striped.centered
        thead
            tr
                th 번호
                th GO
                th BACK
        tbody
            - for(var i=0;i<count;i++){
            tr
                td #{i + 1}
                td #{reservation[i].departInfo}
                td #{reservation[i].arriveInfo}
            - }
